{
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "trailingComma": "all",
  "useTabs": false
}
